*{
    margin: 0;
    background-color: #fe59ae;
}

#zoomimage {
    width: 300px;
    align-items: center;
    margin-top: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: transform 0.8s ease, opacity 0.5s ease;
    z-index: 2;
}

.zoom-in {
    transform: scale(3);
    opacity: 0;
}

#hiddencontent {
    opacity: 0;
    display: none;
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.image-container {
    position: relative;
}

.content {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0; transform: translateY(20px);
    }

    to {
        opacity: 1; transform: translateY(0);
    }
}

.container {
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#gif {
    max-width: 200px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    animation: fadeIn 1s ease forwards;
}

#text {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 0 20px 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 5px solid white;
    background-color: #e5a0c6;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#nxtbtn {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: white;
}


#othercomps {
    display: none;
    margin-top: 40px;
    font-size: 20px;
    color: #333;
    animation: fadein 1s forwards;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(20px);}
    to { opacity: 1; transform: translateY(0);}
}

.comps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 150px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px 0 10px 0;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

#line {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#teddy {
    background-color: transparent;
}

.comps input {
    width: 100px;
    height: 30px;
    border-radius: 0 10px 0px 10px;
    background-color: pink;
    border: none;
    padding: 5px;
    margin-top: 10px;
}

.comps button {
    background-color: pink;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}